@model bd.webappseguridad.entidades.Negocio.Adscmenu

@{
    ViewData["Title"] = "Menu";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-save"></i> </span>
                        <h2>Men&uacute;</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form  asp-action="Create" id="checkout-form"  class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="input">
                                                <select asp-for="AdmeSistema" asp- class="form-control" asp-items="ViewBag.AdmeSistema">
                                                    <option value="0" selected="" disabled="">@Html.DisplayNameFor(model => model.AdmeSistema)</option>
                                                </select>
                                                <span asp-validation-for="AdmeSistema" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <select asp-for="AdmePadre" asp- class="form-control" asp-items="ViewBag.AdmePadre">
                                                    <option value="Raiz" selected="" disabled="">@Html.DisplayNameFor(model => model.AdmePadre)</option>
                                                </select>
                                                <span asp-validation-for="AdmePadre" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-thumb-tack"></i>
                                                <input maxlength="30" asp-for="AdmeAplicacion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeAplicacion)" />
                                                <span asp-validation-for="AdmeAplicacion" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-tags"></i>
                                                <input maxlength="1" asp-for="AdmeTipo" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeTipo)" />
                                                <span asp-validation-for="AdmeTipo" class="text-danger"></span>
                                            </label>
                                        </section>

                                    </div>


                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-crosshairs"></i>
                                                <input maxlength="32" asp-for="AdmeObjetivo" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeObjetivo)" />
                                                <span asp-validation-for="AdmeObjetivo" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-cubes"></i>
                                                <input maxlength="10" asp-for="AdmeTipoObjeto" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeTipoObjeto)" />
                                                <span asp-validation-for="AdmeTipoObjeto" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-sort-numeric-asc"></i>
                                                <input maxlength="1" asp-for="AdmeOrden" data-mask="9" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeOrden)" />
                                                <span asp-validation-for="AdmeOrden" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-3">
                                            <label class="input">
                                                <select asp-for="AdmeEstado" asp- class="form-control">
                                                    <option value="ACTIVO">ACTIVO</option>
                                                    <option value="INACTIVO">INACTIVO</option>
                                                </select>
                                                <span asp-validation-for="AdmeEstado" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-globe"></i>
                                                <input maxlength="150" asp-for="AdmeUrl" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeUrl)" />
                                                <span asp-validation-for="AdmeUrl" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-6">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-tint"></i>
                                                <input maxlength="100" asp-for="AdmeEnsamblado" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeEnsamblado)" />
                                                <span asp-validation-for="AdmeEnsamblado" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">

                                        <section class="col col-4">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-gear"></i>
                                                <input maxlength="150" asp-for="AdmeControlador" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeControlador)" />
                                                <span asp-validation-for="AdmeControlador" class="text-danger"></span>
                                            </label>
                                        </section>

                                        <section class="col col-4">
                                            <label class="input">
                                                <i class="icon-prepend fa fa-gears"></i>
                                                <input maxlength="150" asp-for="AdmeAccionControlador" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeAccionControlador)" />
                                                <span asp-validation-for="AdmeAccionControlador" class="text-danger"></span>
                                            </label>
                                        </section>


                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-random"></i>
                                                    <input maxlength="100" asp-for="AdmeElemento" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeElemento)" />
                                                    <span asp-validation-for="AdmeElemento" class="text-danger"></span>
                                                </label>
                                            </section>
                                        </div>

                                    </div>

                                </fieldset>

                                <fieldset>
                                    <section>
                                        <label class="textarea">
                                            <i class="icon-prepend fa fa-comment"></i>
                                            <textarea rows="6" maxlength="128" asp-for="AdmeDescripcion" placeholder="@Html.DisplayNameFor(model=>model.AdmeDescripcion)"></textarea>
                                            <span asp-validation-for="AdmeDescripcion" class="text-danger"></span>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index"  class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {




<script type="text/javascript">
        $(document).ready(function () {
            $("#AdmeSistema").change(function () {
                $("#AdmePadre").empty();
                $("#AdmePadre").append('<option value="0">[Seleccione un menu padre]</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarPadresPorSistema")',
                    dataType: 'json',
                    data: { AdmeSistema: $("#AdmeSistema").val() },
                    success: function (data) {
                        $.each(data, function (i, data) {
                            $("#AdmePadre").append('<option value="'
                                + data.admeAplicacion + '">'
                                + data.admeAplicacion + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Departments.' + ex);
                    }
                });
                return false;
            })
        });
</script>


<script src='~/lib/select2/dist/js/select2.min.js'></script>
<script src='~/lib/select2/dist/js/i18n/es.js'></script>
<script src='~/js/site.js'></script>
<script type="text/javascript">
    $(document).ready(function () {
        Init_Select2();
    });

</script>



}
