@model bd.webappseguridad.entidades.ViewModels.DetalleMenu

@{
    ViewData["Title"] = "Detallemenu";
}
<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <p></p>
        <a asp-action="Index" onclick="cargando()">
            <button type="button" onclick="cargando()" asp-action="Index" class="btn btn-labeled btn-default">
                <span class="btn-label">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </span>Regresar

            </button>
        </a>
        <p> </p>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Detalle Men&uacute;</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="AdmeSistema" />
                            <input type="hidden" asp-for="AdmeAplicacion" />
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeSistema)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-building"></i>
                                                <input maxlength="30" disabled="disabled" asp-for="AdmeSistema" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeSistema)" />
                                                <span asp-validation-for="AdmeSistema" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmePadre)</label>
                                            <label  class="input">
                                                <i class="icon-prepend fa fa-rebel"></i>
                                                <input maxlength="30" disabled="disabled" asp-for="AdmePadre" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeAplicacion)" />
                                                <span asp-validation-for="AdmePadre" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeAplicacion)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-thumb-tack"></i>
                                                <input maxlength="30" disabled="disabled" asp-for="AdmeAplicacion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeAplicacion)" />
                                                <span asp-validation-for="AdmeAplicacion" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeTipo)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-tags"></i>
                                                <input maxlength="1" asp-for="AdmeTipo" disabled="disabled" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeTipo)" />
                                                <span asp-validation-for="AdmeTipo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeUrl)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-globe"></i>
                                                <input maxlength="150" asp-for="AdmeUrl" disabled="disabled" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeUrl)" />
                                                <span asp-validation-for="AdmeUrl" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeEnsamblado)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-tint"></i>
                                                <input maxlength="100" asp-for="AdmeEnsamblado" disabled="disabled" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeEnsamblado)" />
                                                <span asp-validation-for="AdmeEnsamblado" class="text-danger"></span>
                                            </label>
                                        </section>

                                            <section class="col col-4">
                                                <label class="label">@Html.DisplayNameFor(mode => mode.AdmeElemento)</label>
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-globe"></i>
                                                    <input maxlength="100" asp-for="AdmeElemento" disabled="disabled" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeElemento)" />
                                                    <span asp-validation-for="AdmeElemento" class="text-danger"></span>
                                                </label>
                                            </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeObjetivo)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-crosshairs"></i>
                                                <input maxlength="32" asp-for="AdmeObjetivo" disabled="disabled" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeObjetivo)" />
                                                <span asp-validation-for="AdmeObjetivo" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeTipoObjeto)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-cubes"></i>
                                                <input maxlength="10" asp-for="AdmeTipoObjeto" disabled="disabled" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeTipoObjeto)" />
                                                <span asp-validation-for="AdmeTipoObjeto" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(mode => mode.AdmeOrden)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-sort-numeric-asc"></i>
                                                <input maxlength="1" asp-for="AdmeOrden" disabled="disabled" data-mask="9" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdmeOrden)" />
                                                <span asp-validation-for="AdmeOrden" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">@Html.DisplayNameFor(model => model.AdmeEstado)</label>
                                            <label class="input">
                                                <select asp-for="AdmeEstado" disabled="disabled" asp- class="form-control">
                                                    <option value="ACTIVO">ACTIVO</option>
                                                    <option value="INACTIVO">INACTIVO</option>
                                                </select>
                                                <span asp-validation-for="AdmeEstado" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <section>
                                        <label class="label">@Html.DisplayNameFor(mode => mode.AdmeDescripcion)</label>
                                        <label class="textarea">
                                            <i class="icon-prepend fa fa-comment"></i>
                                            <textarea rows="6" maxlength="128" disabled="disabled" asp-for="AdmeDescripcion" placeholder="@Html.DisplayNameFor(model=>model.AdmeDescripcion)"></textarea>
                                            <span asp-validation-for="AdmeDescripcion" class="text-danger"></span>
                                        </label>
                                    </section>
                                </fieldset>
                            </div>
                        </form>
                        <div id="content">
                            <section id="widget-grid" class="">
                                <div class="row">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                                            <header>
                                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                <h2>Men&uacute; Hijos</h2>
                                            </header>
                                            <div>
                                                <div class="jarviswidget-editbox">
                                                </div>
                                                <div class="widget-body no-padding">
                                                    <fieldset>
                                                        <table id="datatable_fixed_column" class="table table-striped table-bordered table-responsive" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th class="hasinput">
                                                                        <input type="text" class="form-control" placeholder="Buscar" />
                                                                    </th>
                                                                    <th class="hasinput">
                                                                        <input type="text" class="form-control" placeholder="Buscar" />
                                                                    </th>
                                                                    <th class="hasinput">
                                                                        <input type="text" class="form-control" placeholder="Buscar" />
                                                                    </th>
                                                                    <th class="hasinput">
                                                                        <input type="text" class="form-control" placeholder="Buscar" />
                                                                    </th>
                                                                    <th class="hasinput">
                                                                        <input type="text" class="form-control" placeholder="Buscar" />
                                                                    </th>
                                                                    <th class="hasinput">
                                                                        <input type="text" class="form-control" placeholder="Buscar" />
                                                                    </th>
                                                                    <th >
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th data-class="expand">
                                                                        <i class="fa fa-fw fa-building text-muted hidden-md hidden-sm hidden-xs"></i>  
                                                                        @Html.DisplayNameFor(model => model.AdmeSistema)
                                                                    </th>
                                                                    <th data-hide="phone">
                                                                        <i class="fa fa-fw fa-thumb-tack text-muted hidden-md hidden-sm hidden-xs"></i>
                                                                        @Html.DisplayNameFor(model => model.AdmeAplicacion)
                                                                    </th>
                                                                    <th data-hide="phone">
                                                                        <i class="fa fa-fw fa-gear text-muted hidden-md hidden-sm hidden-xs"></i>
                                                                        @Html.DisplayNameFor(model => model.ListaHijos.FirstOrDefault().AdmeControlador)
                                                                    </th>
                                                                    <th data-hide="phone">
                                                                        <i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i>
                                                                        @Html.DisplayNameFor(model => model.AdmeUrl)
                                                                    </th>
                                                                    <th data-hide="phone">
                                                                        <i class="fa fa-fw fa-check-square-o text-muted hidden-md hidden-sm hidden-xs"></i>
                                                                        @Html.DisplayNameFor(model => model.AdmeEstado)
                                                                    </th>
                                                                    <th>Opciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.ListaHijos)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.AdmeSistema)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.AdmeAplicacion)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.AdmeControlador)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.AdmeUrl)
                                                                        </td>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.AdmeEstado)
                                                                        </td>
                                                                        <td>
                                                                            @Html.ActionLink("Eliminar", "DeleteHijo", new { admeSistemaHijo = item.AdmeSistema, admeAplicacionHijo = item.AdmeAplicacion, admeAplicacion = Model.AdmeAplicacion }, new { onclick = "return confirm('Desea eliminar el elemento... ?');" })
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->
@section Scripts {

}
