@model bd.webappseguridad.entidades.Negocio.Adscbdd

@{
    ViewData["Title"] = "Editar";
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Bases de datos </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="AdbdBdd" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">@Html.DisplayNameFor(model => model.AdbdBdd)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-database"></i>
                                                <input maxlength="32" disabled="disabled" asp-for="AdbdBdd" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdbdBdd)" />
                                                <span asp-validation-for="AdbdBdd" class="text-danger"></span>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">@Html.DisplayNameFor(model => model.AdbdServidor)</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-desktop"></i>
                                                <input maxlength="100" asp-for="AdbdServidor" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.AdbdServidor)" />
                                                <span asp-validation-for="AdbdServidor" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <section>
                                        <label class="label">@Html.DisplayNameFor(model => model.AdbdDescripcion)</label>
                                        <label class="textarea">
                                            <i class="icon-prepend fa fa-comment"></i>
                                            <textarea rows="3" maxlength="64" asp-for="AdbdDescripcion" placeholder="@Html.DisplayNameFor(model=>model.AdbdDescripcion)"></textarea>
                                            <span asp-validation-for="AdbdDescripcion" class="text-danger"></span>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script type="text/javascript">
    </script>
}
