@model List<bd.webappseguridad.entidades.Negocio.Adscexe>

@{
    ViewData["Title"] = "Index";
}

			<!-- MAIN CONTENT -->
<div id="content">
    <fieldset>
        <div>
            <a asp-action="Create">
                <button type="button" class="btn btn-labeled btn-default">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-plus"></i>
                    </span>Nuevo permiso
                </button>
            </a>
        </div>
        <p></p>
    </fieldset>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Men&uacute;</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-responsive" width="100%">
                                <thead>
                                    <tr>
                                        <th data-class="expand">
                                            <i class="fa fa-fw fa-database text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdexBdd)
                                        </th>
                                        <th  data-hide="phone">
                                            <i class="fa fa-fw fa-users text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdexGrupo)
                                        </th>
                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa-suitcase text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdexSistema)
                                        </th>
                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa-thumb-tack text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdexAplicacion)
                                        </th>
                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Ins)
                                        </th>
                                        <th data-hide="">
                                            <i class="fa fa-fw  fa-crosshairs text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Del)
                                        </th>
                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Upd)
                                        </th>


                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Sel)
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdexBdd)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdexGrupo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdexSistema)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdexAplicacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ins)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Del)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Upd)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Sel)
                                            </td>
                                            <td>

                                                @Html.ActionLink("Editar", "Edit", new { sistema = item.AdexSistema, baseDatos = item.AdexBdd, grupo =item.AdexGrupo, aplicacion =item.AdexAplicacion}) |
                                                @Html.ActionLink("Eliminar", "Delete", new { sistema = item.AdexSistema, baseDatos = item.AdexBdd, grupo = item.AdexGrupo, aplicacion = item.AdexAplicacion }, new { onclick = "return confirm('Desea eliminar el Miembro... ?');" }) |
                                                @Html.ActionLink("Detalle", "Details", new { sistema = item.AdexSistema, baseDatos = item.AdexAplicacion, grupo = item.AdexGrupo, aplicacion = item.AdexAplicacion })
                                            </td>
                                        </tr>
                                     }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
          
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

 @section Scripts {
   <script src='~/js/datatables/init.js'></script>
}
}
