@model List<bd.webappseguridad.entidades.Negocio.Adscgrp>


<div id="content">
    <fieldset>
        <div >
            <a asp-action="Create">
                <button type="button" class="btn btn-labeled btn-default">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-plus"></i>
                    </span>Nuevo grupo
                </button>
            </a>
        </div>
    </fieldset>
    <div>
        <div class="row col-lg-10">

            @if (@ViewData["Error"].ToString() != "")
            {
                <div class="col-lg-9">
                    <div class="alert alert-block alert-dismissable">
                        <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                        <p>
                            <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                        </p>
                    </div>
                </div>
            }
        </div>
        <p></p>
    </div>
   
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
             
                    <header>
                        <span class="widget-icon"> <i class="fa fa-users"></i> </span>
                        <h2>Grupos</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Buscar" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Buscar" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Buscar" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Buscar" />
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa fa-database text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdgrBdd)
                                        </th>
                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa fa-users text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdgrGrupo)
                                        </th>
                                        <th data-class="expand">
                                            <i class="fa fa-fw fa fa-delicious text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdgrNombre)
                                        </th>
                                        <th data-hide="phone">
                                            <i class="fa fa-fw fa fa-comment text-muted hidden-md hidden-sm hidden-xs"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AdgrDescripcion)
                                        </th>
                                      
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdgrBdd)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdgrGrupo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdgrNombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AdgrDescripcion)
                                            </td>
                                           
                                            <td>
                                                @Html.ActionLink("Permisos", "MenusGrupo", new { adgrBdd = item.AdgrBdd, adgrGrupo = item.AdgrGrupo }) |
                                                @Html.ActionLink("Miembros", "MiembrosGrupo", new { adgrBdd = item.AdgrBdd, adgrGrupo = item.AdgrGrupo }) |
                                                @Html.ActionLink("Editar", "Edit", new { adgrBdd = item.AdgrBdd, adgrGrupo=item.AdgrGrupo }) |
                                                @Html.ActionLink("Eliminar", "Delete", new { adgrBdd = item.AdgrBdd, adgrGrupo = item.AdgrGrupo }, new { onclick = "return confirm('Desea eliminar el grupo... ?');" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
          
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

 @section Scripts {
  <script src='~/js/datatables/init.js'></script>
}
